/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-3.3.6.min
 *= require_tree .
 *= require_self
 */

img {
  max-width: 35%;
  max-height: 35%;
}


.padding {
	padding-top: 20px;
}

.nav {
  padding-right: 25px;
}

.navbar-default .navbar-brand {
  color: #e6af4b;  /*dark orange color for logo */
}

.navbar-brand {
  font-size: 20px;
}

.navbar-default {
  font-family: 'Helvetica', sans-serif;
  font-size: 15px;
  background-color: #e05038; /*Tomato Red Banner*/
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

/* Might need this later
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: -5px auto -60px;
  padding: 0 0 200px;
}

#wrap > .container{
  padding: -60px -15px 0;
}*/

.footer {
  background-color: #19381F;
  color: white;
  height: 60px;
}

.copyright {
  position: absolute;
}

/*.boxart {
  width: 10px;
  height: 10px;
}*/
 
